html {
    background-color: #191a1a;
        
}


body {
    color: #e8e8e6;
    background-color: #191a1a;

}


/* Фон header'a */
.header {
  background-color: #202222;
  
}
/* Фон header'a */



/* Цвета логотипа и текста в header'e */
.navbar-brand {
    color: #e8e8e6;
}

.navbar-brand:hover {
    color: #25B7D3;
}
/* Цвета логотипа и текста в header'e */


/* Цвета для статей */
.article {
    background-color: #202222;    
    color: #e8e8e6;
           
}

.article1 {
    background-color: #202222;    
    color: #e8e8e6;
           
}

.article:hover{
    background-color: #252727; 
    color: #e8e8e6d4;
    
}

.socials {  
    overflow: hidden;
    background-color: #202222b9;
  
}
/* Цвета для статей */

.footer {

    background-color: #202222;
    color: #f4f4f4;
        
}

.share-btn {    
    color: #e8e8e6; /* Set text color */
    
    
}

.share-btn {
color: #e8e8e6; /* Set text color */  
background-color: #202222;
}

.share-btn:hover {
background-color: #464646;
color: #ebebeb;
transition: 0.3s;

}
