{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title | safe }}{% endblock %}


{% block opengraph %}
    <meta property="og:title" content="{{ article.title | safe }}"/>
    <meta property="og:description" content="{{ article.summary | safe }}"/>
    <meta property="og:image" content="{% static 'img/avatar.jpg' %}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:url" content= "{{ request.build_absolute_uri }}"/>
    <meta property="og:author" content= "Марат Никанов"/>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-10 col-lg-8">
        <div class="article1">
            <p>Your IP Address: {{ ip_address }}</p>
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-text">{{ article.full_text | safe }}</p>
        </div>
    </div>
</div>
{% endblock %}

