{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title | safe }}{% endblock %}


{% block opengraph %}
    <meta property="og:title" content="{{ article.title | safe }}"/>
    <meta property="og:description" content="{{ article.summary | safe }}"/>
    <meta property="og:image" content="https://{{ request.get_host }}{{article.og_image.url}}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:url" content= "{{ request.build_absolute_uri }}"/>
    <meta property="og:author" content= "Марат Никанов"/>
{% endblock %}


<meta name="twitter:card" content="blog">
<meta property="twitter:domain" content="{{ request.get_host }}">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{{ article.title | safe }}">
<meta name="twitter:description" content="{{ article.summary | safe }}">
<meta name="twitter:image" content="https://nikanoff.ru/images/hiro.jpeg">





{% block content %}
<div class="row justify-content-center">
    <div class="col-xs-10 col-md-8 col-lg-6">
        <div class="article1">            
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-text">{{ article.full_text | safe }}</p>
        </div>
    </div>
</div>
{% endblock %}

