{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}


<!-- код,который генерит статью -->
{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-8">
        <div class="article">
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-text">{{ article.full_text | safe }}</p>

                <!-- код,для кнопки донат -->
            <form action="https://www.donationalerts.com/r/nikanoff" target="_blank" rel="noopener noreferrer">
                <button class="donate-button">Donate</button>
            </form>

              





            
        </div>
    </div>
</div>
{% endblock %}

