/* :root {
    --background_main: #191a1a;
    --background_article: #1d1f21;
    --text_color: #e8e8e6;
    --text_color_2: #8d9191;

} */

:root {
    --background_main: #1d1f21;
    --background_article: #292c2f;
    --text_color: #e8e8e6;
    --text_color_2: #8d9191;

}


html {
    background-color: var(--background_main);
        
}


body {
    color: #e8e8e6;
    background-color: var(--background_main);

}


/* Фон header'a */
.header {
  background-color: var(--background_article);
  
}
/* Фон header'a */



/* Цвета логотипа и текста в header'e */
.navbar-brand {
    color: #e8e8e6;
}

.navbar-brand:hover {
    color: #1fb8cd;
}
/* Цвета логотипа и текста в header'e */


/* Цвета для статей */
.article {
    background-color: var(--background_article);    
    color: var(--text_color);
           
}

.article1 {
    background-color: var(--background_article);    
    color: #c5c8c6;
           
}

.article:hover{
    background-color: #252727; 
    color: #e8e8e6d4;
    
}

.socials {  
    overflow: hidden;
    background-color: var(--background_article);
    color: var(--text_color_2);
  
}
/* Цвета для статей */

.footer {

    background-color: var(--background_article);
    color: var(--text_color_2);
        
}



.share-btn {
color: var(--text_color_2); /* Set text color */  
background-color: var(--background_article);
}

.share-btn:hover {
background-color: #464646;
color: #ebebeb;
transition: 0.3s;

}
