:root {
    --background_main: #fcfcf9;
    --background_article: #1d1f21;
    --text_color: #13343b;
    --text_color_2: #64645f;
    --background_hover: #f3f3ee;
    
}





html {
    background-color: var(--background_main);    
}


body {
    color: var(--text_color);
    background-color: var(--background_main);
}

/* Фон header'a */
.header {
    background-color: var(--background_main);    
  }
  /* Фон header'a */


/* Цвета логотипа и текста в header'e */
.navbar-brand {
    color: #191a1a;
}

.navbar-brand:hover {
    color: #20808d;
}
/* Цвета логотипа и текста в header'e */


/* Цвета для статей */
.article {
    background-color: var(--background_main);    
    color: var(--text_color);           
}

.article1 {
    background-color: #e8e8e656;    
    color: var(--text_color)
           
}

.article:hover{
    background-color: var(--background_hover);    
    color: #202222a3;     
}

.socials {  
    overflow: hidden;
    background-color: var(--background_main);
    color: var(--text_color_2);
  
}
/* Цвета для статей */


.footer {
    background-color: var(--background_main);
    color: var(--text_color_2);
    
}

.share-btn {
    color: var(--text_color_2); /* Set text color */  
    background-color: var(--background_main);
  }

.share-btn:hover {
background-color: var(--background_hover);
color: var(--background_article);
transition: 0.3s;

}
